<div class="mt-32 flex justify-center items-center gap-20">
  <div class="flex flex-col">
    <div class="w-[800px]">
      <p class="text-5xl font-semibold mb-5 leading-normal">
        Investasi Saham Bersama KOMUNITAS
      </p>
      <p class="text-xl font-light tracking-wide">
        Stockbit adalah aplikasi untuk kamu yang ingin berdiskusi, analisa dan
        investasi saham dalam satu tempat.
      </p>
      <button class="text-xl bg-[#59AC6C] text-white uppercase py-3 px-10 mt-9">
        Mulai berinvestasi
      </button>
    </div>
  </div>
  <div class="">
    <img src="assets/undraw_transfer_money_re_6o1h.svg" alt="" />
  </div>
</div>
