<div class="flex justify-center items-center mt-32">
  <div
    class="w-1/2 flex flex-col gap-10 border rounded-3xl p-14 mx-10 mt-16 drop-shadow-2xl"
  >
    <div class="flex items-center gap-5">
      <div
        class="h-6 w-6 bg-[#59AC6C] rounded-full flex justify-center items-center"
      >
        <div class="h-2 w-2 bg-white rounded-full"></div>
      </div>
      <div>
        <p class="text-lg">2000</p>
        <p class="text-xl font-semibold">
          Lorem ipsum dolor sit amet consectetur adipisicing.
        </p>
      </div>
    </div>
    <div class="flex items-center gap-5">
      <div
        class="h-6 w-6 bg-[#59AC6C] rounded-full flex justify-center items-center"
      >
        <div class="h-2 w-2 bg-white rounded-full"></div>
      </div>
      <div>
        <p class="text-lg">2007</p>
        <p class="text-xl font-semibold">
          Lorem ipsum dolor sit amet consectetur adipisicing.
        </p>
      </div>
    </div>
    <div class="flex items-center gap-5">
      <div
        class="h-6 w-6 bg-[#59AC6C] rounded-full flex justify-center items-center"
      >
        <div class="h-2 w-2 bg-white rounded-full"></div>
      </div>
      <div>
        <p class="text-lg">2009</p>
        <p class="text-xl font-semibold">
          Lorem ipsum dolor sit amet consectetur adipisicing.
        </p>
      </div>
    </div>
    <div class="flex items-center gap-5">
      <div
        class="h-6 w-6 bg-[#59AC6C] rounded-full flex justify-center items-center"
      >
        <div class="h-2 w-2 bg-white rounded-full"></div>
      </div>
      <div>
        <p class="text-lg">2021</p>
        <p class="text-xl font-semibold">
          Lorem ipsum dolor sit amet consectetur adipisicing.
        </p>
      </div>
    </div>
    <div class="flex items-center gap-5">
      <div
        class="h-6 w-6 bg-[#59AC6C] rounded-full flex justify-center items-center"
      >
        <div class="h-2 w-2 bg-white rounded-full"></div>
      </div>
      <div>
        <p class="text-lg">2021</p>
        <p class="text-xl font-semibold">
          Lorem ipsum dolor sit amet consectetur adipisicing.
        </p>
      </div>
    </div>
  </div>
  <div class="flex gap-8 flex-col w-1/2 h-full">
    <div class="text-5xl font-semibold">
      <p>Informasi Perusahaan</p>
    </div>
    <div class="leading-loose text-lg">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur
        iure esse quasi totam expedita, neque, dolor quod culpa maiores, placeat
        qui quo earum libero deleniti! Nostrum in, sit quod itaque possimus aut
        iste repellat alias incidunt odio esse sapiente hic quos numquam
        aliquid. Impedit repudiandae animi eaque, ipsum vero ab perspiciatis
        culpa dolore reiciendis, expedita et ea fugiat, iure eos temporibus.
        Vero, impedit fuga quos, temporibus repellendus quasi numquam aliquid
        hic eos officia suscipit expedita neque non autem, consectetur libero?
      </p>
    </div>
    <div class="leading-loose text-lg">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, quam
        laborum? Fugit ex iste accusamus minus impedit, doloremque tenetur?
        Mollitia nisi facilis voluptatum, saepe illum ex, dolorum delectus,
        adipisci repellendus totam illo iusto hic autem maxime in repellat minus
        eos ullam. Odio, unde explicabo amet, voluptas, perferendis suscipit a
        quos doloremque minima reprehenderit architecto! Perspiciatis possimus
        voluptatibus doloribus nisi accusantium officiis magni voluptates minus
        delectus culpa dignissimos libero, dolor illo!
      </p>
    </div>
  </div>
</div>
