<div class="flex mt-32 justify-center items-center">
  <div class="flex flex-col justify-center gap-y-6">
    <div class="font-semibold text-5xl">
      <p>Your Daily Snips Of Market News</p>
    </div>
    <div class="text-lg">
      <p class="">
        Cuplikan berita pasar saham terhangat dikirim setiap hari ke email kamu
      </p>
    </div>
    <div class="flex">
      <input
        type="email"
        placeholder="name@example.com"
        class="py-3 px-4 bg-slate-200 outline-[#59AC6C] text-lg"
      />
      <button
        class="px-3 py-3 bg-[#59AC6C] text-white rounded-tr-md rounded-br-md font-semibold"
      >
        subscribe
      </button>
    </div>
  </div>
  <div class="">
    <img src="assets/undraw_news_re_6uub.svg" alt="" />
  </div>
</div>
