<div class="w-full flex justify-between items-center py-3">
  <div class="">
    <img
      src="https://stockbit.com/assets/template/stockbit.svg"
      alt=""
      class="w-40"
    />
  </div>
  <div class="text-2xl">
    <ul class="flex gap-7 text-[#59AC6C] font-extralight">
      <li class="hover:opacity-40"><a routerLink="">Home</a></li>
      <li class="hover:opacity-40"><a routerLink="about">About</a></li>
      <li class="hover:opacity-40"><a routerLink="article">Article</a></li>
    </ul>
  </div>
</div>
